.content-box-page {
	width: 100%;
}

.content-box-page h1 {
	text-align: center;
	font-size: 2.5rem;
	color: white;
}

.content-box {
	width: 30%;
	margin-top: 5%;
	margin-left: calc(50% - 270px);
	margin-bottom: 3rem;
	border-radius: 5px;
	border: 2px solid white;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.show-balance {
	text-align: center;
	font-size: 1.8rem;
	margin-top: 10%;
	color: white;
}

.show-balance span {
	color: #90EE90;
}

.how-much {
	text-align: center;
	color: #90d7ff;
	margin-top: 10%;
	font-size: 1.8rem;
}

.content-block {
	display: block;
}