.button-home {
    border-radius: 5px;
    border: 2px solid white;
    background-color: #a615ff;
    text-decoration: none;
    color: white;
    transition: .5s;
    padding: 1.5rem;
    padding-left: 13rem;
    padding-right: 13rem;
}

.button-home:focus {
    outline: 0;
}

.button-home:hover {
    background-color: white;
    border-color: #a615ff;
    color: #a615ff;
}